# SPDX-FileCopyrightText: 2026 Choreoform contributors
# SPDX-License-Identifier: MPL-2.0
# Fixed-byte integrity vector; do not convert these sources to CRLF on checkout.
*.choreo text eol=lf
*.json text eol=lf
